name: C Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v2
    - name: Boot environment
      run: "echo %VCINSTALLDIR%"
    - name: Boot environment
      run: "\"C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build\\vcvarsall.bat\" amd64"
    - name: build
      run: "msbuild msvc/pelagia.sln"
